.crypto-wrapper{
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin-top: 27px;
    margin: 50px auto  0px;
    h2{
        color: var(--second-text-color);
        font-size: 34px;
        letter-spacing: 0.5px;
    }
}
.search-form{
    margin-top: 17px;
    width: 100%;
    height: 55px;
}

.search-crypto{
    width: 100%;
    height: 100%;
    border: 1px solid var(--second-text-color);
    border-radius: 4px;
    background: transparent;
    text-indent: 15px;
    font-size: 18px;
    color: #fff;
}
table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: left;
}

table > thead > tr{
    background-color: var(--primary-color);
    height: 55px;
    
    th{
        font-weight: 700;
    }
}

.crypto-coin{
    display: flex;
    align-items: center;
    gap: 0px 10px;
}
.crypto-name-info{
    text-align: left !important;
    p{
        font-size: 22px;
        color: #fff;
    }
    small{
        color: var(--second-text-color);
        font-size: 15px;
    }
}