@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fredoka:wght@400;700&family=Hind+Madurai:wght@400;700&family=IBM+Plex+Sans&family=Indie+Flower&family=Inter&family=Jomolhari&family=Khula&family=Montserrat:ital,wght@0,300;1,100&family=Nanum+Gothic:wght@400;700&family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Oswald:wght@200&family=Philosopher:wght@400;700&family=Poppins:wght@100;400&family=Raleway:wght@400;500&family=Roboto+Condensed&family=Roboto:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-bg-color: #14161a;
  --primary-color: #87ceeb;
  --second-text-color: #a9a9a9;
  --success-color: #0a7757;
  --danger-color: #c40607; 
  --Roboto-font: 'Roboto', sans-serif;
  --Montserrat-font: 'Montserrat', sans-serif;
}